*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  
  
}

.whole-container{
  width: 300px;
  height: 180px;
  border: 6px solid salmon;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
height: 500px;
background-image:url(chat.jpg);
background-size: 520px;
background-repeat: no-repeat;
background-position: center;
}

.timecont {
  display: flex;
  flex-direction: column;
  
}
.timecont :first-child{
  margin-bottom: 350px;
}


.form{
  font-size: 60px;
  color: lightseagreen;
}

.hour{
  font-size: 10px;
  color:lightseagreen;
  margin-left: 10px;
}

.button{
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid salmon;
  margin-left: 50px;
  justify-content: space-between;

}
.container{
  margin-left: 700px;
}